<h2>Your encrypted notes</h2>
<% if (notes.length) { %>
   <ul>
   <% notes.forEach(function (note) { %>
   <li>
   <% if (!note.deleted) { %>
      <a href="/view?note=<%= note.id %>"><%=: note.name| capitalize %></a>
      <form action="/delete" method="POST">
      <input type="submit" value="Delete">
   <% } else { %>
      <s><%=: note.name| capitalize %></s>
      <form action="/undelete" method="POST">
      <input type="submit" value="Undelete">
   <% } %>
   <input type="hidden" name="id" value="<%= note.id %>">
   </form>
   </li>
   <% }); %>
   </ul>
<% } else { %>
   <p>You don't have any!</p>
<% } %>

<p><a href="/new">Create a new encrypted note</a></p>