<script src="https://browserid.org/include.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.0/build/rollups/sha256.js"></script>
<script src="/jwcrypto.js"></script>
<script src="/crypto.js"></script>
<script src="/loggedin.js"></script>

<p id="message"></p>

<script>
var assertion = localStorage.getItem('assertion');
if (!assertion) {
    window.location = '/login';
}

<% if (wrappedKey) { %>
var wrappedKey = "<%= wrappedKey %>";
doUnwrap(assertion, wrappedKey);
<% } else { %>
doGenerate(assertion);
<% } %>
</script>
