<script src="https://browserid.org/include.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.0/build/rollups/sha256.js"></script>
<script src="/crypto.js"></script>
<script src="/loggedin.js"></script>

<p id="message"></p>

<script>
var assertion = "<% assertion %>";

$.get(
    '/wrappedkey', null, function (r) {
        // TODO: check for errors
        var wrappedKey = r.wrappedKey;

        if (wrappedKey) {
            doUnwrap(assertion, wrappedKey);
        } else {
            doGenerate(assertion);
        }
    }, 'json');

</script>
