<script src="<%= includejs %>"></script>
<script src="/loggedin.js"></script>

<p id="message"></p>

<script>
var identity = "<%= identity %>";
<% if (wrappedKey) { %>
var wrappedKey = "<%= wrappedKey %>";
doUnwrap(identity, wrappedKey);
<% } else { %>
doGenerate(identity);
<% } %>
</script>
