<script src="https://browserid.org/include.js"></script>
<script src="/crypto.js"></script>
<script src="/login.js"></script>

<form id="login-form" method="POST" action="/login">
<input id="assertion-field" type="hidden" name="assertion" value="">
</form>

<h2>Sign Into SecureNotes</h2>

<div><a href="javascript:login()"><img src="/sign_in_button.png" border="0"></a></div>
