<script src="/jwcrypto.js"></script>
<script src="/crypto.js"></script>

<form name="create-note" action="/new" method="POST">
<table>
<tr>
<td><label for="note-name">Name:</label></td><td><input type="text" name="name" id="note-name" size="52" required="required"></td>
</tr>
<tr>
<td colspan="2"><textarea name="content" id="note-content" rows="25" cols="80" required="required"></textarea></td>
</tr>
<tr>
<td colspan="2"><a id="encrypt-button" href="javascript:encrypt()">Encrypt</a><span id="encryption-message"></span><br>
<input id="save-button" type="submit" value="Save" disabled="disabled"> <a href="/list">Cancel</a></td>
</tr>
</form>
