<script src="/jwcrypto.js"></script>
<script src="/crypto.js"></script>

<h2><%= note.name %></h2>

<p><pre id="note-content"><%= note.content %></pre></p>

<p><a id="decrypt-button" href="javascript:decrypt()">Decrypt</a><span id="decryption-message"></span></p>

<p><a href="/list">Back to list</a></p>
